# Dependencies
node_modules/

# Build outputs
build/
dist/
coverage/

# Logs
*.log

# Environment files
.env
.env.*

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Cache
.cache/
.parcel-cache/
